html,body {
  margin: 0;
  padding: 0;
}
.demo-box {
  position: relative;
  overflow: hidden;
}

.demo-titile {
  width: 80px;
  line-height: 36px;
  font-size: 24px;
  margin: 0;
  padding: 0 5px;
  background: #999;
  text-align: center;
  color: #fefefe;
  position: absolute;
  left: 0;
  top: 0;
}

.demo-container {
  margin-top: 40px;
}

.tiny-countdown {
  font-size: 50px;
  text-align: center;
}
.btn-box {
  text-align: center;
  margin-top: 20px;
}