
// ! 必须只有变量和函数， 这样混入才不会产生多份类名的生成
@themeList: dark, brand, success, successless, info, infoless, warn, warnless, error, errorless;
@sizeList: xs, sm, md, lg;
@borderStyle: solid, dashed, dotted;

@cursorList: default, none, context-menu, help, pointer, progress, wait, cell, crosshair, text, vertical-text, alias,
  copy, move, no-drop, not-allowed, grab, grabbing, e-resize, n-resize, ne-resize, nw-resize, s-resize, se-resize,
  sw-resize, w-resize, ew-resize, ns-resize, nesw-resize, nwse-resize, col-resize, row-resize, all-scroll, zoom-in,
  zoom-out;

