/** 按钮类*/
.sc-button {
  appearance: none;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &.st-ghost{
    background-color: transparent!important;
  }
}
